{% extends 'base.html.twig' %}

{% use 'upload/task.html.twig' %}

{% trans_default_domain 'picture' %}

{% block title_page %}{{ 'title.page'|trans }}{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block page_heading %}
    <div class="col-lg-10">
        <h2>{{ 'title.heading'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a>{{ 'title.controller'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'title.heading'|trans }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
{% endblock page_heading %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        {#<div class="hr-line-dashed"></div>#}
                        <h5>New</h5>
                        {% block upload %}
                            {{ parent() }}
                        {% endblock %}
                        <div class="space-25"></div>
                        <h5>Search</h5>
                        <p>coming soon ...</p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}