{% extends 'base.html.twig' %}

{% block title_page %}Youtube-dl{% endblock %}

{% block stylesheets %}
    <!-- Text spinners style -->
    <link href="{{ asset('css/plugins/textSpinners/spinners.css') }}" rel="stylesheet">
{% endblock %}

{% block page_heading %}
    <div class="col-lg-10">
        <h2>YouTube Downloader</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a>Outils</a>
            </li>
            <li class="active">
                <strong>Youtube-dl</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
{% endblock page_heading %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    {{ form_start(form) }}
                    <div class="input-group m-b">
                        {{ form_widget(form.url, {attr: {placeholder: 'Youtube url'}}) }}
                        <span class="input-group-btn">
                            <button type="submit" id="submit" class="btn btn-primary">
                                <i class="fa fa-download"></i> Download
                            </button>
                        </span>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Video</th>
                                <th>Audio</th>
                            </tr>
                            </thead>
                            <tbody class="data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            {% if url %}
            $.ajax({
                url: '{{ (api_url~'/api.php?app=youtubedl')|raw }}',
                dataType: 'json',
                data: {url: '{{ url }}'}
            }).done(function (data) {
                console.log(data);
                $('#results').append(
                    $('<a>',
                    {href: '{{ path('download', {'base': 'ddl', 'filename': ''}) }}'+data, text: 'video'})
                );
                $.ajax({
                    url: '{{ (api_url~'/api.php?app=extract')|raw }}',
                    dataType: 'json',
                    data: {filename: data}
                }).done(function (result) {
                    console.log(result.filename);
                    $('#results').append('<br>').append(
                        $('<a>',
                            {href: '{{ path('download', {'base': 'ddl', 'filename': ''}) }}'+result.filename, text: 'only audio'})
                    );
                    toastr.success('Done');
                })
                ;
            }).fail(function (xhr, textStatus, errorThrown) {
                toastr.error('Fail');
            })
            ;
            {% endif %}

            $('form').on('submit', function (event) {
                event.preventDefault();
                var $url = $('input').val();
                var $id;
                $.when(
                    $.ajax({
                        url: '{{ api_url }}/api.php?app=youtube',
                        dataType: 'json',
                        data: {url: $url },
                        success: function (data) {
                            $id = data;
                        }
                    })
                ).done(function (result) {
                    $id = result.id;
                    console.log(result.success);
                    $('.data')
                        .append($('<tr>')
                            .attr({id: result.id})
                            .append($('<td>')
                                .append(result.success)
                            )
                            .append($('<td>')
                                .attr({id: $id+'_video'})
                                .append($('<span>').attr({'class': 'loading dots'}))
                            )
                            .append($('<td>')
                                .attr({id: $id+'_audio'})
                                .append($('<span>').attr({'class': 'loading dots'}))
                            )
                        );
                    $.ajax({
                        url: '{{ api_url }}/api.php?app=youtubedl',
                        dataType: 'json',
                        data: {url: $url }
                    }).done(function (data) {
                        console.log(data);
                        $('#'+$id+'_video').empty().append(
                            $('<a>',
                                {href: '{{ path('download', {'base': 'ddl', 'filename': ''}) }}'+data}
                            ).append($('<i>', {'class': "fa fa-download"}))
                        );
                        $.ajax({
                            url: '{{ api_url }}/api.php?app=extract',
                            dataType: 'json',
                            data: {filename: data}
                        }).done(function (result) {
                            console.log(result.filename);
                            $('#'+$id+'_audio').empty().append(
                                $('<a>',
                                    {href: '{{ path('download', {'base': 'ddl', 'filename': ''}) }}'+result.filename}
                                ).append($('<i>', {'class': "fa fa-download"}))
                            );
                            toastr.success('Done');
                        })
                        ;
                    }).fail(function (xhr, textStatus, errorThrown) {
                        toastr.error('Fail');
                    })
                    ;
                });
            })
        })
    </script>
{% endblock javascripts %}