{% extends 'base.html.twig' %}

{% trans_default_domain 'car' %}

{% block title_page %}{{ 'title.page'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">

{% endblock %}

{% block page_heading %}
    <div class="col-lg-10">
        <h2>{{ ('title.heading.'~tab)|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a>{{ 'title.controller'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ ('title.heading.'~tab)|trans }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
{% endblock page_heading %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="project-list">
                        <div class="pull-right">
                            {% if tab == "fuel" %}
                                {{ include("car/form-fuel.html.twig") }}
                            {% else %}
                                {{ include("car/form-maintain.html.twig") }}
                            {% endif %}
                        </div>
                        <ul class="nav nav-tabs">
                            {% for ind, elem in kind %}
                                <li class="{{ elem == tab ? 'active' : '' }}">
                                    <a class="tab-href" href="{{ path('car_follow',{'kind': elem})|raw }}">
                                        {{ ('data.'~elem~'.tab_name')|trans }}
                                        {#<span class="badge badge-default" id="badge-{{ elem|lower }}"></span>#}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for ind, elem in kind %}
                                <div id="tab-{{ ind+1 }}" class="tab-pane {{ elem == tab ? 'active' : '' }}">
                                    <div class="table-responsive" style="width: 100%">
                                        <table class="table table-hover data-{{ ind+1 }} {{ tab }}">
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <!-- Data picker -->
    <script src="{{ asset('js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>
    <!-- Jquery Validate -->
    <script src="{{ asset('js/plugins/validate/jquery.validate.min.js') }}"></script>

    <script>
        var languageTrans = {
            "decimal":        "{{ 'dt.decimal'|trans({},'datatable') }}",
            "emptyTable":     "{{ 'dt.emptyTable'|trans({},'datatable') }}",
            "info":           "{{ 'dt.info'|trans({},'datatable') }}",
            "infoEmpty":      "{{ 'dt.infoEmpty'|trans({},'datatable') }}",
            "infoFiltered":   "{{ 'dt.infoFiltered'|trans({},'datatable') }}",
            "infoPostFix":    "{{ 'dt.infoPostFix'|trans({},'datatable') }}",
            "thousands":      "{{ 'dt.thousands'|trans({},'datatable') }}",
            "lengthMenu":     "{{ 'dt.lengthMenu'|trans({},'datatable') }}",
            "loadingRecords": "{{ 'dt.loadingRecords'|trans({},'datatable') }}",
            "processing":     "{{ 'dt.processing'|trans({},'datatable') }}",
            "search":         "{{ 'dt.search'|trans({},'datatable') }}",
            "zeroRecords":    "{{ 'dt.zeroRecords'|trans({},'datatable') }}",
            "paginate": {
                "first":      "{{ 'dt.paginate.first'|trans({},'datatable') }}",
                "last":       "{{ 'dt.paginate.last'|trans({},'datatable') }}",
                "next":       "{{ 'dt.paginate.next'|trans({},'datatable') }}",
                "previous":   "{{ 'dt.paginate.previous'|trans({},'datatable') }}"
            },
            "aria": {
                "sortAscending":  "{{ 'dt.aria.sortAscending'|trans({},'datatable') }}",
                "sortDescending": "{{ 'dt.aria.sortDescending'|trans({},'datatable') }}"
            }
        };

        $(document).ready(function () {
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
            $('#data_2 .input-group.date').datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            {% if tab == "fuel" %}
            var $fuel = $('table.fuel').DataTable({
                ajax: {
                    url: '{{ path("car_follow_data", {'kind': tab}) }}',
                    beforeSend: function () {
                        $('div.fuel').addClass('sk-loading');
                    },
                    error: function (xhr, error, thrown) {
                        toastr.error('Fail');
                        $('.dataTables_empty').text('Error occurred. No cluster.');
                    },
                    complete: function () {
                        $('div.fuel').removeClass('sk-loading');
                    }
                },
//            buttons: [],
                columns: [
                    {data: 'date', title: 'Date', defaultContent: ''},
                    {data: 'voitureId', title: 'Voiture', defaultContent: ''},
                    {data: 'compteur', title: 'Compteur', defaultContent: ''},
                    {data: 'kilometre', title: 'Kilometres', defaultContent: ''},
                    {data: 'litre', title: 'Litres', defaultContent: ''},
                    {data: 'lieu', title: 'Lieu', defaultContent: ''}
                ],
                // dom: '<"html5buttons"B>tr<"row"<"col-md-4"l><"col-md-4 text-center"i><"col-md-4"p>>',
                dom: 'tr<"row"<"col-md-4"l><"col-md-4 text-center"i><"col-md-4"p>>',
                language: languageTrans,
                order: [[ 0, "desc" ]],
                processing: true,
                serverSide: true,
                responsive: true
            });
            {% endif %}

            {% if tab == "maintain" %}
            var $maintains = $('table.maintain').DataTable({
                ajax: {
                    url: '{{ path("car_follow_data", {'kind': tab}) }}',
                    beforeSend: function () {
                        $('div.maintains').addClass('sk-loading');
                    },
                    error: function (xhr, error, thrown) {
                        toastr.error('Fail');
                        $('.dataTables_empty').text('Error occurred. No cluster.');
                    },
                    complete: function () {
                        $('div.maintains').removeClass('sk-loading');
                    }
                },
//            buttons: [],
                columns: [
                    { data: 'date', title: 'Date', defaultContent: '' },
                    {
                        data: 'voitureId', title: 'Voiture', defaultContent: '',
                        render: function (data) {
                            return $.validator.format('<a id="car_info" data-path="{{ path('car_info') }}">{0}</a>', data);
                        }
                    },
                    { data: 'compteur', title: 'Compteur', defaultContent: '' },
                    { data: 'libelle', title: 'Libellé', defaultContent: '' },
                    { data: 'garage', title: 'Garage', defaultContent: '' },
                    { data: 'lieu', title: 'Lieu', defaultContent: '' },
                    { data: 'prix', title: 'Prix', defaultContent: '' }
                ],
                // dom: '<"html5buttons"B>tr<"row"<"col-md-4"l><"col-md-4 text-center"i><"col-md-4"p>>',
                dom: 'tr<"row"<"col-md-4"l><"col-md-4 text-center"i><"col-md-4"p>>',
                language: languageTrans,
                order: [[ 0, "desc" ]],
                processing: true,
                serverSide: true,
                responsive: true
            });
            {% endif %}

            $(document)
                .on('submit', 'form[name="carburant_task"]', function (event) {
                    event.preventDefault();
                    var $form = $(this);
                    var formData = new FormData(this);
                    $.ajax({
                        url: $form.attr('action'),
                        method: $form.attr('method'),
                        data: formData,
                        contentType: false,
                        processData: false
                    }).done(function (data) {
                        toastr.success(data.save);
                        $fuel.ajax.reload();
                        $('.close').click();
                    })
                })
                .on('submit', 'form[name="entretien_task"]', function (event) {
                    event.preventDefault();
                    var $form = $(this);
                    var formData = new FormData(this);
                    $.ajax({
                        url: $form.attr('action'),
                        method: $form.attr('method'),
                        data: formData,
                        contentType: false,
                        processData: false
                    }).done(function (data) {
                        toastr.success(data.save);
                        $fuel.ajax.reload();
                        $('.close').click();
                    })
                })
                .on('click', 'a#car_info', function (event) {
                    event.preventDefault();
                    var that = $(this);
                    $.ajax({
                        url: that.data('path'),
                        data: {q: that.text()}
                    }).done(function (result) {
                        var title = "";
                        $.each(result, function (k,v) {
                            title += $.validator.format("{0}: {1}\n",k,v);
                        });
                        that.attr('title', title);
                    });
                })
            ;
        })

    </script>
{% endblock javascripts %}