{% extends 'base.html.twig' %}

{% block title_page %}Voiture | Overview{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <!-- Morris -->
    <link href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <style>
        .label-celica {
            background-color: #1ab394;
            color: white;
        }
        .label-laguna {
            background-color: #cacaca;
            color: grey;
        }
    </style>
{% endblock %}

{% block page_heading %}
    <div class="col-lg-10">
        <h2>Overview</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a>Voiture</a>
            </li>
            <li class="active">
                <strong>Overview</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
{% endblock page_heading %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Celica</h5>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins cpt-celica">166 000 km</h2>
                    <small>Compteur</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Laguna</h5>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins cpt-laguna">153 000 km</h2>
                    <small>Compteur</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Historique</h5>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" id="month" class="btn btn-xs btn-white active">Monthly</button>
                            <button type="button" id="year" class="btn btn-xs btn-white">Annual</button>
                        </div>
                    </div>

                </div>
                <div class="ibox-content data-3">
                    {{ include('utils/loading.html.twig') }}
                    <div class="row">
                        <div class="col-lg-9">
                            <div id="morris-bar-chart" style="height: 400px"></div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h3 class="km-celica">38,000 kms</h3>
                                    <span class="label label-celica">Celica</span>
                                </li>
                                <li>
                                    <h3 class="km-laguna">43,000 kms</h3>
                                    <span class="label label-laguna">Laguna</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cours du carburant</h5>
                </div>
                <div class="ibox-content data-4">
                    {{ include('utils/loading.html.twig') }}
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <!-- Morris -->
    <script src="{{ asset('js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('js/plugins/morris/morris.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.time.js') }}"></script>

    <script>
        var languageTrans = {
            "decimal":        "{{ 'dt.decimal'|trans({},'datatable') }}",
            "emptyTable":     "{{ 'dt.emptyTable'|trans({},'datatable') }}",
            "info":           "{{ 'dt.info'|trans({},'datatable') }}",
            "infoEmpty":      "{{ 'dt.infoEmpty'|trans({},'datatable') }}",
            "infoFiltered":   "{{ 'dt.infoFiltered'|trans({},'datatable') }}",
            "infoPostFix":    "{{ 'dt.infoPostFix'|trans({},'datatable') }}",
            "thousands":      "{{ 'dt.thousands'|trans({},'datatable') }}",
            "lengthMenu":     "{{ 'dt.lengthMenu'|trans({},'datatable') }}",
            "loadingRecords": "{{ 'dt.loadingRecords'|trans({},'datatable') }}",
            "processing":     "{{ 'dt.processing'|trans({},'datatable') }}",
            "search":         "{{ 'dt.search'|trans({},'datatable') }}",
            "zeroRecords":    "{{ 'dt.zeroRecords'|trans({},'datatable') }}",
            "paginate": {
                "first":      "{{ 'dt.paginate.first'|trans({},'datatable') }}",
                "last":       "{{ 'dt.paginate.last'|trans({},'datatable') }}",
                "next":       "{{ 'dt.paginate.next'|trans({},'datatable') }}",
                "previous":   "{{ 'dt.paginate.previous'|trans({},'datatable') }}"
            },
            "aria": {
                "sortAscending":  "{{ 'dt.aria.sortAscending'|trans({},'datatable') }}",
                "sortDescending": "{{ 'dt.aria.sortDescending'|trans({},'datatable') }}"
            }
        };

        $(document).ready(function () {
            $(function() {
                var data = JSON.parse($.ajax({
                    url: '{{ api_url }}/api.php/elastic/stat',
                    dataType: 'json',
                    async: false
                }).responseText);
                $('.km-celica').text(
                    '%nb% kms'.replace('%nb%', $.number(data[0].kilometre.value,1))
                );
                $('.km-laguna').text(
                    '%nb% kms'.replace('%nb%', $.number(data[1].kilometre.value,1))
                );
                $('.cpt-celica').text(
                    '%nb%'.replace('%nb%', $.number(data[0].compteur.value,0))
                );
                $('.cpt-laguna').text(
                    '%nb%'.replace('%nb%', $.number(data[1].compteur.value,0))
                );
            });

            function dateHisto(period) {
                return JSON.parse($.ajax({
                    url: '{{ api_url }}/api.php/elastic/histo/'+period,
                    dataType: 'json',
                    async: false,
                    beforeSend: function () {
                        $('.data-3').toggleClass('sk-loading');
                    },
                    complete: function () {
                        $('.data-3').toggleClass('sk-loading');
                    },
                    error: function () {
                        toastr.error('Error in loading historique');
                        $("#morris-bar-chart").append(
                            $('<div>').attr({'class': 'alert alert-danger'}).append(
                                $('<p>').attr({'class': 'text-center'}).append('Node not found in cluster')
                            )
                        );
                    }
                }).responseText);
            }

            var histo = Morris.Bar({
                element: 'morris-bar-chart',
                data: dateHisto('month'),
                xkey: 'date',
                ykeys: ['celica', 'laguna'],
                labels: ['Celica', 'Laguna'],
                hideHover: 'auto',
                resize: true,
                barColors: ['#1ab394', '#cacaca']
            });
            
            $('#month').on('click', function () {
                histo.setData(dateHisto('month'));
                $('#year').toggleClass('active');
                $('#month').toggleClass('active');
            });

            $('#year').on('click', function () {
                histo.setData(dateHisto('year'));
                $('#year').toggleClass('active');
                $('#month').toggleClass('active');
            });

            //Flot Multiple Axes Line Chart
            $(function() {
                var data = JSON.parse($.ajax({
                    url: '{{ api_url }}/api.php/elastic/histo_price',
                    dataType: 'json',
                    async: false,
                    beforeSend: function () {
                        $('.data-4').addClass('sk-loading');
                    },
                    complete: function () {
                        $('.data-4').removeClass('sk-loading');
                    },
                    error: function () {
                        toastr.error('Error in loading data');
                        $(".data-4").append(
                            $('<div>').attr({'class': 'alert alert-danger'}).append(
                                $('<p>').attr({'class': 'text-center'}).append('Node not found in cluster')
                            )
                        );
                    }
                }).responseText);
                var oilPrices = data.SP98;
                var gazolPrices = data.GO;

                function euroFormatter(v, axis) {
                    return v.toFixed(axis.tickDecimals) + "€";
                }

                function doPlot(position) {
                    $.plot($("#flot-line-chart-multi"), [{
                        data: oilPrices,
                        label: "SP98 (€)"
                    }, {
                        data: gazolPrices,
                        label: "Gazole (€)",
                        yaxis: 2
                    }], {
                        xaxes: [{
                            mode: 'time'
                        }],
                        yaxes: [{
                            min: 0
                        }, {
                            // align if we are to the right
                            alignTicksWithAxis: position == "right" ? 1 : null,
                            position: position,
                            tickFormatter: euroFormatter
                        }],
                        legend: {
                            position: 'sw'
                        },
                        colors: ["#1ab394"],
                        grid: {
                            color: "#999999",
                            clickable: true,
                            tickColor: "#D4D4D4",
                            borderWidth:0,
                            hoverable: true //IMPORTANT! this is needed for tooltip to work,

                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: "%s for %x was %y",
                            xDateFormat: "%y-%0m-%0d",

                            onHover: function(flotItem, $tooltipEl) {
                                // console.log(flotItem, $tooltipEl);
                            }
                        }

                    });
                }

                doPlot("right");

                $("button").click(function() {
                    doPlot($(this).text());
                });
            });
        })

    </script>
{% endblock javascripts %}