{% extends 'base.html.twig' %}

{% use 'base_images.html.twig' %}

{% block title_page %}Images{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <button id="del">Suppr</button>
{% endblock %}

{% block javascripts %}
    <script>
        var gallery = blueimp.Gallery(
            [
                {% for file in images %}
                {
                    title: '{{ file }}',
                    href: '{{ asset('home/'~folder~file) }}',
//                    type: 'image/jpeg',
                    {#thumbnail: '{{ asset('home/'~folder~file) }}'#}
                },
                {% endfor %}
                {% for file in videos %}
                {
                    title: '{{ file }}',
                    href: '{{ asset('home/'~folder~file) }}',
                    type: 'video/mp4',
                    {#thumbnail: '{{ asset('home/'~folder~file) }}'#}
                },
                {% endfor %}
            ],
            {
//                urlProperty: 'href',
                carousel: true,
                enableKeyboardNavigation: true,
                startSlideshow: false,
                toggleControlsOnSlideClick: true
            }
        );

        $('#del').click(function () {
            alert($('h3.title')[0].innerHTML);
            $.getJSON(
                '{{ path('delete', {'filename': 'test'}) }}',
                {file: '{{ '/home/'~folder }}/'+$('h3.title')[0].innerHTML },
                function (data) {
                    location.reload(true);
                console.log(data);
            })
        })

    </script>
{% endblock javascripts %}
