{% extends 'base.html.twig' %}

{% block title_page %}Images{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/plugins/blueimp/css/blueimp-gallery.min.css') }}" rel="stylesheet">

{% endblock %}

{% block page_heading %}
    <div class="col-lg-10">
        <h2>Images Gallery</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a>Images Gallery</a>
            </li>
            <li class="active">
                <strong>{{ folder[:-1] }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
{% endblock page_heading %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="lightBoxGallery">
                        {% for file in images %}
                        <a href="{{ asset('home/'~folder~file) }}" title="{{ file }}" data-gallery="">
                            <img src="{{ asset('home/'~folder~file) }}" width="128">
                        </a>
                        {% endfor %}
                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                        <div id="blueimp-gallery" class="blueimp-gallery">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block javascripts %}

    <!-- blueimp gallery -->
    <script src="{{ asset('js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>

{% endblock javascripts %}